*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    transition: all 1s;
}
h1{
    text-align: center;
}

#slider{
    width: 720px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    .slides{
        display: block;
        width: 6000px;
        height: 400px;
        margin: 0;
        padding: 0;
    }
    .slide{
        float: left;
        width: 720px;
        height: 400px;
        list-style-type: none;
    }
}